@model Company

@{
    ViewData["Title"] = "Create";
}

<!-- PAGE-HEADER -->
<div class="page-header">
    <h1 class="page-title">Form Create</h1>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index">Company</a></li>
            <li class="breadcrumb-item active" aria-current="page">Form Create</li>
        </ol>
    </div>
</div>
<!-- PAGE-HEADER END -->
<!--Row -->
<div class="row">
    <div class="col-md-12 col-xl-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Billing Information</h3>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Razao" class="form-label">Razão Social <span class="text-red">*</span></label>
                                <input asp-for="Razao" class="form-control" />
                                <span asp-validation-for="Razao" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Fantasia" class="form-label">Nome Fantasia <span class="text-red">*</span></label>
                                <input asp-for="Fantasia" class="form-control" />
                                <span asp-validation-for="Fantasia" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label asp-for="CNPJ" class="form-label">CNPJ <span class="text-red">*</span></label>
                                <input asp-for="CNPJ" data-mask="00.000.000/0000-00" class="form-control" maxlength="18" />
                                <span asp-validation-for="CNPJ" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label asp-for="Phone" class="form-label">Telefone <span class="text-red">*</span></label>
                                <input asp-for="Phone" data-mask="00-0000-00000" class="form-control" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label asp-for="StreetCep" class="form-label">CEP <span class="text-red">*</span></label>
                                <input asp-for="StreetCep" data-mask="00.000-000" class="form-control" maxlength="10" />
                                <span asp-validation-for="StreetCep" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label asp-for="StreetNumber" class="form-label">Numero <span class="text-red">*</span></label>
                                <input asp-for="StreetNumber" class="form-control" />
                                <span asp-validation-for="StreetNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label asp-for="Street" class="form-label">Rua <span class="text-red">*</span></label>
                                <input asp-for="Street" class="form-control" />
                                <span asp-validation-for="Street" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-2">
                            <div class="form-group">
                                <label asp-for="StreetState" class="form-label">Estado <span class="text-red">*</span></label>
                                <input asp-for="StreetState" class="form-control" />
                                <span asp-validation-for="StreetState" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label asp-for="StreetCity" class="form-label">Cidade <span class="text-red">*</span></label>
                                <input asp-for="StreetCity" class="form-control" />
                                <span asp-validation-for="StreetCity" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-footer mt-2">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a class="btn btn-danger" asp-action="Index">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <!-- JQUERY JS -->
    <script src="~/js/jquery.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="~/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- INPUT MASK JS-->
    <script src="~/plugins/input-mask/jquery.mask.min.js"></script>

    <!-- SIDE-MENU JS-->
    <script src="~/plugins/sidemenu/sidemenu.js"></script>

    <!-- TypeHead js -->
    <script src="~/plugins/bootstrap5-typehead/autocomplete.js"></script>
    <script src="~/js/typehead.js"></script>

    <!-- SIDEBAR JS -->
    <script src="~/plugins/sidebar/sidebar.js"></script>

    <!-- Perfect SCROLLBAR JS-->
    <script src="~/plugins/p-scroll/perfect-scrollbar.js"></script>
    <script src="~/plugins/p-scroll/pscroll.js"></script>
    <script src="~/plugins/p-scroll/pscroll-1.js"></script>

    <!-- INTERNAL SELECT2 JS -->
    <script src="~/plugins/select2/select2.full.min.js"></script>

    <!-- Color Theme js -->
    <script src="~/js/themeColors.js"></script>

    <script src="~/js/select2.js"></script>

    <!-- CUSTOM JS -->
    <script src="~/js/custom.js"></script>

}
