@model ELETRICTEL.Models.Projects

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Projects</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypesId" class="control-label"></label>
                <select asp-for="TypesId" class="form-control" asp-items="ViewBag.TypesId"></select>
                <span asp-validation-for="TypesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectKM" class="control-label"></label>
                <input asp-for="ProjectKM" class="form-control" />
                <span asp-validation-for="ProjectKM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectPostes" class="control-label"></label>
                <input asp-for="ProjectPostes" class="form-control" />
                <span asp-validation-for="ProjectPostes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectART" class="control-label"></label>
                <input asp-for="ProjectART" class="form-control" />
                <span asp-validation-for="ProjectART" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectStreetART" class="control-label"></label>
                <input asp-for="ProjectStreetART" class="form-control" />
                <span asp-validation-for="ProjectStreetART" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnginnersId" class="control-label"></label>
                <input asp-for="EnginnersId" class="form-control" />
                <span asp-validation-for="EnginnersId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RCommercialId" class="control-label"></label>
                <select asp-for="RCommercialId" class="form-control" asp-items="ViewBag.RCommercialId"></select>
                <span asp-validation-for="RCommercialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RResponsibleId" class="control-label"></label>
                <select asp-for="RResponsibleId" class="form-control" asp-items="ViewBag.RResponsibleId"></select>
                <span asp-validation-for="RResponsibleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Protocol" class="control-label"></label>
                <input asp-for="Protocol" class="form-control" />
                <span asp-validation-for="Protocol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProtocolTime" class="control-label"></label>
                <input asp-for="ProtocolTime" class="form-control" />
                <span asp-validation-for="ProtocolTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedTime" class="control-label"></label>
                <input asp-for="ApprovedTime" class="form-control" />
                <span asp-validation-for="ApprovedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateTime" class="control-label"></label>
                <input asp-for="CreateTime" class="form-control" />
                <span asp-validation-for="CreateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangeTime" class="control-label"></label>
                <input asp-for="ChangeTime" class="form-control" />
                <span asp-validation-for="ChangeTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
