@model Types

@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="col-md-12 col-xl-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Create Types</h3>
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label asp-for="Name" class="form-label">Nome <span class="text-red">*</span></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="btn-group" role="group">
                        <a class="btn btn-danger" asp-action="Index">Back to List</a>
                        <input type="submit" value="Save" class="btn btn-outline-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Information</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">Creation Data <span class="text-red">*</span></label>
                            <input class="form-control" value="@Model.CreateTime" disabled/>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>
<!--End Row-->

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
